html {
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: #fff;
  box-sizing: border-box;
}

.banner {
  width: 100%;
  margin-top: 65px;
}
nav {
  color: #14213d;
  padding: 20px 50px;
}
nav a {
  text-decoration: none;
  font-size: large;
  font-weight: 700;
  letter-spacing: 1.5px;
}
nav a:link {
  color: rgb(34, 32, 32);
}
nav a:visited {
  color: rgb(34, 32, 32);
}
nav a:hover {
  color: rgb(102, 96, 96);
}
.fullpage {
  height: 100vh;
}
#contact {
  background-color: #14213d;
}
#submit {
  background-color: #f9f9f9;
}
#reminder {
  background-color: #14213d;
  color: #f9f9f9;
  font-size: 20px;
}
.logo {
  height: 40px;
  width: 40px;
}

header a {
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
}
header a:link {
  color: #621d1d;
}
header a:visited {
  color: #621d1d !important;
}
header a:hover {
  color: #863535;
}

.welcome {
  font-size: 26px;
  font-weight: 700;
  color: #621d1d;
}

.h1 {
  font-size: 26px;
  font-weight: 700;
  color: #f9f9f9;
}

.h2 {
  font-size: 20px;
  font-weight: 500;
  color: #f9f9f9;
}
.h3 {
  font-size: 15px;
  font-weight: 400;
  color: #f9f9f9;
}

.emphz {
  font-weight: 500;
}

.row {
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 300;
}

.more-lh {
  line-height: 60px;
}

.more-mg {
  margin-top: 10px;
}

.text-align-center {
  text-align: center;
}

.required-col::before {
  content: "* ";
  color: red;
}

.required-input:focus {
  border-color: #7b3117;
}

footer {
  height: 120px;
  width: 100%;
  margin-top: 50px;
  background-color: #242729;
  color: white;
}

.ft-content {
  position: absolute;
  margin-top: 20px;
  margin-left: 100px;
  color: white;
}

#ft-complete_page {
  position: fixed;
  bottom: 0;
  width: 100%;
}

a:link {
  color: #f9f9f9;
}
a:visited {
  color: #f9f9f9;
}
a:hover {
  color: white;
}

.en_col {
  font-size: 8px;
  color: #242729;
  font-weight: 300 !important;
  padding-left: 10px;
}

/* Timeline component style */
.line {
  width: 120px;
  height: 2px;
  background-color: #14213d;
}

.timeline {
  min-width: 80px;
}

.timeline-date {
  position: absolute;
  top: -25px;
}

.timeline-text {
  position: absolute;
  top: 25px;
}

.error-message{
  color: red;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: rgb(241, 241, 154);
}