html {
  font-family: 'Microsoft JhengHei', Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  background: #f7f7f7;
  box-sizing: border-box;
}

.banner{
  width: 100%;
  margin-top: 65px;
}
nav {
  color: #14213d;
  padding: 20px 50px;
}
nav a{
  text-decoration: none;
  font-size: large;
  font-weight: 700;
  letter-spacing: 1.5px;
}
nav a:link {
  color: rgb(34, 32, 32);
}
nav a:visited {
  color: rgb(34, 32, 32);
}
nav a:hover {
  color:rgb(102, 96, 96);
}
.fullpage{
  height: 100vh;
}
#contact{
  background-color: #14213d;
}
#submit{
  background-color: #f9f9f9;
}
.logo{
  height: 40px;
  width: 40px;
}
.h1 {
  font-size: 26px;
  font-weight: 700;
  color: #f9f9f9;
}
.welcome{
  font-size: 26px;
  font-weight: 700;
  color: #621d1d;
}

.h2{
  font-size: 20px;
  font-weight: 500;
  color: #f9f9f9;
}
.h3{
  font-size: 15px;
  font-weight: 400;
  color: #f9f9f9;
}

.emphz{
  font-weight: 500;
}

.row {
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 300;
}

/* custom btn settings */
.btn-custom {
  background-color: #c36b5a;
  color: white;
}

.btn-custom:hover, .btn-custom:visited {
  background-color: #7b3117;
  cursor: pointer;
  color: white;
}

.btn-custom2{
  background-color: grey;
  font-size: 14px;
  color: white;
  /* min-width: 110px; */
}

.btn-custom2:hover, .btn-custom2:visited{
  background-color: #c36b5a;
  cursor: pointer;
  color: white;
}

.btn-hidden{
  display: none;
}



.text-right {
  text-align: right;
}

.v-center{
  padding-top: 6px;
}

.lighter{
  color: #6c757d;
}

.min-w{
  min-width: 160px;
}

.more-lh{
  line-height: 60px;
}

.more-mg{
  margin-top: 10px;
}

.justify-content-center{
  justify-content: center;
}
.text-align-center{
  text-align: center;
}
.mt-5{
  margin-top: 5rem;
}
.mr-3{
  margin-right: 3rem;
}
.pt-6{
  padding-top: 6rem;
}
.custom-header{
  font-weight: bold;
  color: #242729
  ;
}

.download-adj{
  /* margin-top: 60px; */
  margin-left: 30px;
}

.required-col::before{
  content:"* ";
  color: red;
}

.required-input:focus{
  border-color: #7b3117;
}

footer {
  position: relative;
  /* 設定footer的高度 */
  height: 120px;
  /* 設定footer絕對位置在底部 */
  bottom: 0;
  /* 展開footer寬度 */
  width: 100%;
  /* Setting styles */
  margin-top:50px;
  background-color: #242729;
  color: white;
}

.ft-content{
  position: absolute;
  margin-top: 20px;
  margin-left: 100px;
  color: white;
}

#ft-complete_page{
  position: fixed;
  bottom: 0;
}

a:link {
color: #f9f9f9;
}
a:visited {
color: #f9f9f9;
}
a:hover {
color:white;
}

.en_col{
  font-size: 8px;
  color: #242729;
  font-weight: 300 !important;
}

.col_mg_adj{
  margin-top: 26px;
}

.custom_input_wd{
  width: 280px
}

.line {
  width: 120px;
  height: 2px;
  background-color: #14213d;
}

.timeline {
  min-width: 80px;
}

.timeline-date {
  position: absolute;
  top: -25px;
}

.timeline-text {
  position: absolute;
  top: 25px;
}